<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Price Checker</title>
    <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./public/style.css" />
</head>
<body>
<header>
    <h1>ISQA_5 - Nasdaq Stock Price Checker</h1>
</header>
<div id="userstories">
    <h3>Example usage:</h3>
    <code>/api/stock-prices?stock=GOOG</code><br />
    <code>/api/stock-prices?stock=GOOG&amp;like=true</code><br />
    <code>/api/stock-prices?stock=GOOG&amp;stock=MSFT</code><br />
    <code>/api/stock-prices?stock=GOOG&amp;stock=MSFT&amp;like=true</code><br />
    <h3>Example return:</h3>
    <code>{"stockData":{"stock":"GOOG","price":786.90,"likes":1}}</code><br />
    <code>{"stockData":[{"stock":"MSFT","price":62.30,"rel_likes":-1},{"stock":"GOOG","price":786.90,"rel_likes":1}]}</code>
</div>
<hr class="p-50" />
<div id="testUI">
  <h2 class="text-align-left">Front-End:</h2>
  <h3>Get single price and total likes</h3>
  <form id="testForm2" class="border" >
      <label for="stock">Insert Stock Symbol: </label>
      <br />
      <input type="text" id="stock" name="stock" placeholder="GOOG" required="" />
      <input type="checkbox" id="like" name="like" value="true"/>
      <label for="like">Like?</label>
      <br />
      <button type="submit">Get Price!</button>
  </form>
  <h3>Compare and get relative likes</h3>
  <form id="testForm" class="border">
      <label for="stock1">Insert 2 Stock Symbols:</label>
      <br />
      <input type="text" id="stock1" name="stock1" placeholder="GOOG" required="" />
      <label for="stock2">:</label>
      <input type="text" id="stock2" name="stock2" placeholder="MSFT" required="" />
      <input type="checkbox" id="likeBoth" name="likeBoth" value="true" />
      <label for="likeBoth">Like both?</label>
      <br />
      <button type="submit">Get Price!</button>
  </form>
  <code id="jsonResult"></code>
</div>

<hr class="m-50 mt-200" />
<script>
  document.getElementById('testForm2').addEventListener('submit', e => {
    e.preventDefault();
    const stock = e.target[0].value;
    console.log('Submitting form 1 with stock:', stock);
    fetch(`https://stock-price-checker-proxy.freecodecamp.rocks/v1/stock/${stock}/quote`)
      .then(res => res.json())
      .then(data => {
        const result = {
          stockData: 
            { stock: data.symbol, price: data.latestPrice }
        };
        console.log('Received response from form:', result);
        document.getElementById('jsonResult').innerText = JSON.stringify(result);
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  });
  
  document.getElementById('testForm').addEventListener('submit', e => {
    e.preventDefault();
    const stock1 = e.target[0].value;
    const stock2 = e.target[1].value;
    console.log('Submitting form 2 with stock1:', stock1, 'stock2:', stock2);
    fetch(`https://stock-price-checker-proxy.freecodecamp.rocks/v1/stock/${stock1}/quote`)
      .then(res => res.json())
      .then(data1 => {
        fetch(`https://stock-price-checker-proxy.freecodecamp.rocks/v1/stock/${stock2}/quote`)
          .then(res => res.json())
          .then(data2 => {
            const result = {
              stockData: [
                { stock: data1.symbol, price: data1.latestPrice },
                { stock: data2.symbol, price: data2.latestPrice }
              ]
            };
            console.log('Received response from form 2:', result);
            document.getElementById('jsonResult').innerText = JSON.stringify(result);
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  });
  </script>
  
</body>
</html>
