
body {
    margin-top: 100px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
}

text {
    color: black;
}

#legend {

    text-align: center;
    align-items: end;
}