* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(84, 200, 200);
    padding-top: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(84, 200, 200);
  }

#editor {
    max-width: 50%;
    margin: auto;
}

#preview {
    max-width: 70%;
    margin: auto; 
}